src/main/mule/health_check.xml
<?xml version="1.0" encoding="UTF-8"?>
 <mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core 
      http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http 
      http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <flow name="health-check-flow">
        <http:listener doc:name="Listener" doc:id="1aa9fe94-9ed7-46e7-96c1-58d8591a06de" config-ref="HTTP_Listener_config" path="/health"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{"status": "UP", "timestamp": now()}]' doc:name="Set Payload" />
    </flow>
 </mule>